

body {
	background: #f6d1e4;
	margin: 0px;
}	  

header {
	background-color: #f6d1e4;
	margin: 0px;
	padding: 0px;
	height: 75px;
	text-align: center;
}

header img {
	width: 60px;
	height: 60px;
	margin-top: 5px;
}

.logo-left {margin-left: 550px;}
	
.logo-right {margin-left: 100px;}

main {
	font-family: Montserrat;
	font-size: 17px;
}

.maincat {
	margin: 0;
	position: relative;
}

.topleft {
	font-family: Montserrat;
	font-stretch: expanded;
	font-size: 17vw;
	color: #f853b9;
	text-transform: uppercase;
	position: absolute;
	left: 70px;
}

.cat-images {
	width: 100%;
}

.maincat span {
	font-size: 8vw;
}

.infoblock {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	background-color: #ffffff;
	line-height: 2;
}

.introdaction-text {
text-align: center;
margin: 5px 0;
}

.introdaction-hi {
	font-size: 30px;
	color: #f853b9;
	font-weight: bold;
	text-align: center;
	margin: 5px 0;
}

.cats-name .cats-name-line {
	margin: 4px 30px;
	position: relative;
	left: 0;
	list-style: none;
	border-left: 2px solid #f6d1e4;
	transition: 0.5s;
	cursor: pointer;
	margin: 15px 50px;
  }
.cats-name .cats-name-line:hover {
	left: 10px;
  }
.cats-name .cats-name-line b {
	position: relative;
	display: inline-block;
	z-index: 1;
	transition: 0.5s;
	padding: 8px;
	padding-left: 12px;
  }
.cats-name .cats-name-line:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #f6d1e4;
	transform: scaleX(0);
	transform-origin: left;
	transition: 0.5s;
  }
.cats-name .cats-name-line:hover:before {transform: scaleX(1);}

a {
	text-decoration: none;
	color: #111111;
  }

.border-bengal, .border-devon, .border-britan {
	background-color: #fb84ce;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.text-border-bengal, .text-border-devon, .text-border-britan {
	white-space: nowrap;
	font-size: 1.5em;
}
	
#devon section {margin: 30px 60px;}

#devon .cash {
	border: 2px solid #c5c4c4;
	margin: 10px;
	padding: 5px;
}

  blockquote {
	border-left: 2px solid #ff79bc;
	padding-left: 25px
  }

ul {
	list-style-image: url(images/ul-lapki.png);
	margin: 20px;
	border: 2px solid #f477ca;
	padding: 7px 40px;
}

figure {
	display: inline-block;
	text-align: center;
	font-style: italic;
	font-size: 0.8em;
}

.photo-cats {
	text-align: center;
	margin-bottom: 20px;
}

figure img {
	border-radius: 20%
} 

#bengal section {
	margin: 30px 60px;
}

#britan section {
	margin: 30px 60px;
}

.conclusion {
	text-align: center;
	padding: 20px;
}

footer {
	background-color: #c5c4c4;
	margin-top: 20px;
	margin-bottom: 0px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 0.8em;
	line-height: 0.7em;
}

.footer-link {
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
	top: 20px;
	border: 1px solid #c5c4c4;
	border-bottom: 1px solid #111111;
}

footer img {
	padding: 15px;
}

.footer-border {
	background-color: #fb84ce;
	margin: 10px 200px 0px 200px;
	text-align: center;
	padding: 4px;
}
